# Required — fill in before deploying
PORT=8080

MB_DB_TYPE=postgres
MB_DB_HOST=postgres
MB_DB_PORT=5432
MB_DB_DBNAME=metabase
MB_DB_USER=metabase
MB_DB_PASS=
MB_EMAIL_SMTP_HOST=
MB_EMAIL_SMTP_PORT=465
MB_EMAIL_SMTP_SECURITY=ssl
MB_EMAIL_SMTP_USERNAME=
MB_EMAIL_SMTP_PASSWORD=
MB_EMAIL_FROM_ADDRESS=noreply@yourdomain.com
